.userPhoto {
    width: 100px;
    height: 100px;
}

.seceltedPage {
    font-weight: bold;
}

.page span {
    margin: 10px;
    cursor: pointer;
}

.userInfo {
    display: flex;
}

.userInfoName {
    display: flex;
    flex-direction: column;
}

.userInfoName div {
    padding: 2px;
}