.header {
    grid-area: header;
    background-color: #8f93ff;
}

.header img {
    height: 100%;
}

.header span {
    font-size: 20px;
}

.header .web {
    position: absolute;
    margin-top: 10px;
}

.header .chat {
    position: absolute;
    margin-top: 30px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: black;
}