.headerImg {
    height: 200px;
    padding-bottom: 10px;
}

.headerImg img {
    width: 100%;
    height: 100%;
}

.containerInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.profileImage {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.profileImage img {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.myName {
    text-transform: uppercase;
}

.profileInfo div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input {
    height: 20px;
    padding: 0;
    margin: 0;
}

.formErrors {
    border: red 1px solid;
    padding: 5px;
    color: red;
}

.icon {
    color: #555;
    padding: 0;
    line-height: 30px;
    width: 260px;
    margin: auto;
    display: flex;
    cursor: pointer;
}

.labelFile:hover, .icon:focus {
    color: #888;
    border-color: #888;
}

.icon .input_file {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.labelFile {
    margin: auto;
    padding: 0 60px;
    border: 2px solid #555;
    cursor: pointer;
}

/*.icon .input_file + .js_labelFile {*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*    padding: 0 10px;*/
/*    cursor: pointer;*/
/*}*/

/*.icon .input_file + .js_labelFile .icon:before {*/
/*    content: "\f093";*/
/*}*/

/*.icon .input_file + .js_labelFile.has-file .icon:before {*/
/*    content: "\f00c";*/
/*    color: #5AAC7B;*/
/*}*/
